
/* *,
*::before,
*::after {
  box-sizing: border-box;
}

/* html{
  color-scheme: dark light;
} */

/* body {
  margin: 0;
  font-size: 1.25 rem;
  line-height: 1.5;
  margin: 0;
}

.wrapper {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

section-title {
  font-size: 2.25rem;
}

section {
  padding-block: 10rem;
}
.diagonal {
  --skew-angle: 5deg;
  --background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
  position: relative;
  isolation: isolate;
}

.diagonal::after {
  content: "";
  background: var(--background);
  position: absolute;
  inset: 0;
  transform: skewY(var(--skew-angle));
  z-index: -1;
} */ 



/* .bg {
  background-image: url("/src/assets/jenny.jpeg");
  width: 500px;
  height: 700px;
  background-size: contain;
  background-repeat: no-repeat;
} */

/* .low-opacity-bg-image {
    --bg-image: url("/src/assets/jenny.jpeg");
    --bg-image-opacity: 0.3;
  
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    position: relative;
    isolation: isolate;
  }
  
  .low-opacity-bg-image::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: var(--bg-image-opacity);
  
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
   */

   * {
    margin: 0;
    padding: 0;
  }
  
  .outer-headings {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .inner-headings {
    border: 0px solid #ddd;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
    text-transform: uppercase;
    overflow: hidden;
  }
  
  .inner-headings span {
    position: relative;
    /* color: white; */
    animation: animation 15s ease infinite;
  }
  
  @keyframes animation {
    0% {
      top: 0;
    }
    13% {
      top: -50px;
    }
    25% {
      top: -100px;
    }
    38% {
      top: -150px;
    }
    50% {
      top: -200px;
    }
    63% {
      top: -250px;
    }
    75% {
      top: -300px;
    }
    88% {
      top: -350px;
    }
    100% {
      top: -400px;
    }
  }
  