@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,400&family=Cookie&family=Dancing+Script:wght@400;600;700&family=Pacifico&family=Parisienne&family=Poppins:wght@400;500;700&family=Montserrat:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }
}

@layer components {
  .main-area {
    min-height: 100vh;
  }

  .header {
    min-height: 100vh;
  }

  .circles {
    position: absolute;
    top: 70px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  @keyframes animate {
    0% {
      opacity: 1;
      border-radius: 0;
      transform: translateY(0) rotate(0deg);
    }
    100% {
      opacity: 0;
      border-radius: 50%;
      transform: translateY(-1000px) rotate(720deg);
    }
  }

  .circles div {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background: #C395AB;
    bottom: -100px;
    animation: animate 25s linear infinite;
  }

  .circles div:nth-child(1) {
    left: 5%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
    /* background: rgba(229, 17, 17, 0.2); */
  }

  .circles div:nth-child(2) {
    left: 10%;
    width: 60px;
    height: 60px;
    animation-delay: 5s;
    animation-duration: 12s;
    /* background: rgba(148, 17, 229, 0.2); */
  }

  .circles div:nth-child(3) {
    left: 15%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    /* background: rgb(182, 26, 182); */
  }

  .circles div:nth-child(4) {
    left: 20%;
    width: 50px;
    height: 50px;
    animation-delay: 18s;
    /* background: blue; */
  }

  .circles div:nth-child(5) {
    left: 25%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 20s;
    /* background: black; */
  }

  .circles div:nth-child(6) {
    left: 30%;
    width: 10px;
    height: 10px;
    animation-delay: 3s;
    /* background: white; */
  }

  .circles div:nth-child(7) {
    left: 33%;
    width: 50px;
    height: 50px;
    animation-delay: 7s;
    /* background: rgb(225, 69, 12); */
  }

  .circles div:nth-child(8) {
    left: 38%;
    width: 25px;
    height: 25px;
    animation-delay: 10s;
    animation-duration: 45s;
    /* background: rgb(112, 170, 197); */
  }

  .circles div:nth-child(9) {
    left: 45%;
    width: 25px;
    height: 25px;
    animation-delay: 4s;
    animation-duration: 35s;
    /* background: green; */
  }

  .circles div:nth-child(10) {
    left: 50%;
    width: 45px;
    height: 45px;
    animation-delay: 1s;
    /* background: blue; */
  }

  .circles div:nth-child(11) {
    left: 55%;
    width: 15px;
    height: 15px;
    animation-delay: 10s;
    animation-duration: 15s;
    /* background: orange; */
  }

  .circles div:nth-child(12) {
    left: 60%;
    width: 10px;
    height: 10px;
    animation-delay: 0s;
    animation-duration: 11s;
  }
  .circles div:nth-child(13) {
    left: 63%;
    width: 40px;
    height: 40px;
    animation-delay: 1s;
    animation-duration: 35s;
    /* background: yellow; */
  }

  .circles div:nth-child(14) {
    left: 72%;
    width: 75px;
    height: 75px;
    animation-delay: 6s;
    animation-duration: 15s;
    /* background: turquoise; */
  }

  .circles div:nth-child(14) {
    left: 75%;
    width: 50px;
    height: 50px;
    animation-delay: 15s;
    /* animation-duration: 35s; */
  }
  .circles div:nth-child(15) {
    left: 80%;
    width: 20px;
    height: 20px;
    animation-delay: 10s;
    animation-duration: 10s;
    /* background: crimson; */
  }
  .circles div:nth-child(16) {
    left: 85%;
    width: 35px;
    height: 35px;
    animation-delay: 3s;
    /* background: rgb(152, 16, 75); */
  }
  .circles div:nth-child(17) {
    left: 90%;
    width: 65px;
    height: 65px;
    animation-delay: 10s;
    animation-duration: 25s;
    /* background: blue; */
  }
  .circles div:nth-child(18) {
    left: 95%;
    width: 35px;
    height: 35px;
    animation-delay: 1s;
    animation-duration: 10s;
    /* background: purple; */
  }
}
